database/*
minio-server/*
mlruns
mlartifacts/*
minio_data/*
testing/samples/*
minio_data
*/samples/*
input/captcha-version-2-images/samples/*
flask-app/input/captcha-version-2-images/samples
T2_app/input/captcha-version-2-images/samples
T2_app/input/models
T2_app/input/pretrained_models
*/env/
flask-app/static/user_uploads/6p7gx.png